nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    margin-bottom: 30px;
    background-color: rgb(28, 27, 27);
}
.ancres{
gap: 35px;
display: flex;
font-size: 18px;

}
.link{
    text-decoration: none;
    color: white;
}